<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <link rel="stylesheet" href="../styling/basic.css">
    </head>
    <body>
        <!-- menubar -->
        <ul class="menubar main">
            <li><a href="index.html">Home</a></li>
            <li><a href="why.html">Why</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="tips.html">Tips</a></li>
            <li><a href="whatitslike.html">Testimonies</a></li>
            <li>
                <a class="dropdown" href="majors.html">Majors &caron;
                    <div class="dropdown-content">
                        <a href="cs.html">Computer Science</a>
                        <a href="cs-business.html">with Business</a>
                        <a href="cs-cyber.html">with Cybersecurity</a>
                        <a href="cs-ga.html">with Gaming and Animation</a>
                    </div>
                </a>
            </li>
        </ul>
        <div class='main-content'>
            <!--Put page contents here-->
        </div>
    </body>
</html>