<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styling/basic.css">
    </head>
    <body>
        <ul class="menubar">
            <li><a href="index.html">Home</a></li>
            <li><a href="why.html">Why</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="tips.html">Tips</a></li>
            <li><a href="whatitslike.html">Testimonies</a></li>
            <li><a href="majors.html">Majors</a></li>
        </ul>
        <div class='main-content'>
            <h1>Career Types and Salaries in CS</h1>
            <p>Computer Science is a wildly diverse field, as computers are used in almost 
                all walks of life nowadays. Because of this, it would be impossible for us to 
                maintain a comprehensive list of all careers in the field. However, we've put 
                together a list of some of the most prominent careers below:
            </p>
            <!--Planning on creating dropdown menus for each career-->
            <div>
                <h2>Software Engineer</h2>
                <p>Average Salary: ~$105K/yr
                <br><br>
                Overview of Field: <br>
                    Software Engineering is focused on the process of determining the needs of 
                    users, developing a list of problems to solve, and then planning a general 
                    solution for those problems. While all computer scientists do some software 
                    engineering, it is the job of Software Engineers to oversee the whole process 
                    and make sure every piece fits together. They often work more directly with 
                    clients than other programmers.
                <br><br>
                Keywords: <b>Design &nbsp;&nbsp; Class Diagrams &nbsp;&nbsp; Environment &nbsp;&nbsp; Analysis</b></p>
            </div>
            <div>
                <h2>Software Developer</h2>
                <p>Average Salary: ~$95K/yr
                <br><br>
                Overview of Field: <br>
                    
                <br><br>
                Keywords: <b>Programming &nbsp;&nbsp; Development &nbsp;&nbsp; Coding</b></p>
            </div>
            <div>
                <h2>Game Developer</h2>
                <p>Average Salary: ~$70K/yr
                <br><br>
                Overview of Field: <br>
                    
                <br><br>
                Keywords: <b>Modeling &nbsp;&nbsp; Game Engine &nbsp;&nbsp; Prototyping</b></p>
            </div>
            <div>
                <h2>Full Stack Developer</h2>
                <p>Average Salary: ~$98K/yr
                <br><br>
                Overview of Field: <br>
                    
                <br><br>
                Keywords: <b>Front End &nbsp;&nbsp; Back End &nbsp;&nbsp; SQL &nbsp;&nbsp; Web Dev</b></p>
            </div>
            <div>
                <h2>Cyber Security Engineer</h2>
                <p>Average Salary: ~$100K/yr
                <br><br>
                Overview of Field: <br>
                    
                <br><br>
                Keywords: <b>Security &nbsp;&nbsp; Cyber Crime &nbsp;&nbsp; Survelliance</b></p>
            </div>
        </div>
    </body>
</html>