<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <link rel="stylesheet" href="../styling/basic.css">
    </head>
    <body>
        <ul class="menubar">
            <li><a href="index.html">Home</a></li>
            <li><a href="why.html">Why</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="tips.html">Tips</a></li>
            <li><a href="whatitslike.html">Testimonies</a></li>
            <li><a href="majors.html">Majors</a></li>
        </ul>
        <div class='main-content'>
            <h1>Computer Science with Gaming and Animation</h1>
            <table class='quotes'>
                <tr>
                    <td class='quote-item'>
                        <p>According to OC's website, "this is a great degree plan for students who are especially interested 
                            in a career with a company that uses <b>3D animation</b> like healthcare, education, architecture, 
                            life sciences and of course, <b>gaming and animation</b>. This degree also provides a good Computer Science 
                            foundation so that someone with this degree would be qualified for any Computer Science Job."
                        </p>
                        <p>Learn more about OC's computer science degree
                            <a href="https://www.oc.edu/academics/undergraduate-programs/computer-science/b-s-degree-in-computer-science-with-gaming-and-animation">here!</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>