<!DOCTYPE html>
<html>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="../styling/basic.css">
</head>

<body>
    <!-- menubar -->
    <ul class="menubar main">
        <li><a href="index.html">Home</a></li>
        <li><a href="why.html">Why</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="tips.html">Tips</a></li>
        <li><a href="whatitslike.html">Testimonies</a></li>
        <li><a href="majors.html">Majors</a></li>
    </ul>

    <div class='main-content'>
        <h1  class='main-header'>Computer Science Explored</h1>
        <h3>Learn all about what it's like to be a Computer Science major!</h3>

        <div class='blockmenu'>
            <table>
                <tr>
                    <td>
                        <a href="why.html">
                            <div class="menu-item">
                                <p>Do you want to learn more about <b>why</b> you should be a Computer Science major?
                                </p>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="careers.html">
                            <div class="menu-item">
                                <p>Do you want to learn more about the <b>careers</b> you may be interested in?</p>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="menu-item">
                                <p>Do you want to learn about some <b>tips</b> to help you be successful?</p>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="whatitslike.html">
                            <div class="menu-item">
                                <p>Do you want to hear from other CS students about <b>what it's like</b> to be a
                                    Computer Science major?</p>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="majors.html">
                            <div class="menu-item">
                                <p>Do you want to learn about the different CS <b>majors</b> you can consider?</p>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
