<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styling/basic.css">
    </head>
    <body>
        <ul class="menubar">
            <li><a href="index.html">Home</a></li>
            <li><a href="why.html">Why</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="tips.html">Tips</a></li>
            <li><a href="whatitslike.html">Testimonies</a></li>
            <li><a href="majors.html">Majors</a></li>
        </ul>
        <div class='main-content'>
            <h1>Computer Science Majors</h1>
            <h3>At Oklahoma Christian University, there are several different Computer Science majors you 
                can choose from. Explore them below:
            </h3>
            <div class='blockmenu'>
                <table>
                    <tr>
                        <td>
                            <a href="cs.html">
                                <div class="menu-item">
                                    <p>Computer Science</p>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="cs-business.html">
                                <div class="menu-item">
                                    <p>Computer Science with Business</p>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="cs-cyber.html">
                                <div class="menu-item">
                                    <p>Computer Science with Cybersecurity</p>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="cs-ga.html">
                                <div class="menu-item">
                                    <p>Computer Science with Gaming and Animation</p>
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>