<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styling/basic.css">
    </head>
    <body>
        <!-- menubar -->
        <ul class="menubar main">
            <li><a href="index.html">Home</a></li>
            <li><a href="why.html">Why</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="tips.html">Tips</a></li>
            <li><a href="whatitslike.html">Testimonies</a></li>
            <li>
                <a class="dropdown" href="majors.html">Majors &caron;
                    <div class="dropdown-content">
                        <a href="cs.html">Computer Science</a>
                        <a href="cs-business.html">with Business</a>
                        <a href="cs-cyber.html">with Cybersecurity</a>
                        <a href="cs-ga.html">with Gaming and Animation</a>
                    </div>
                </a>
            </li>
        </ul>
        <div class='main-content'>
            <h1>Tips and Tricks for Surviving CS</h1>
            <h4>Computer Science is a very challenging but also very rewarding major. 
                In order to make sure you get the most out of your time as a Computer 
                Science major, we've compiled a list of tips that helped us and other 
                students.
            </h4>

            <table class='quotes'>
                <tr>
                    <td class='quote-item'>
                        <h2>General Tips for College</h2>
                        <h3>Stay On Top of Homework</h3>
                        <p> Seems straightforward, but it can be easy to see due dates that are far 
                            off and put off working on an assignment. The issue with this is that 
                            most classes, especially in CS, build on top of themselves. So, if you 
                            don't learn how something works, you won't be able to use that piece 
                            to build something more complicated. 
                        </p>
                        <h3>Go to Class</h3>
                        <p> Another tip that seems obvious, but is easy to ignore. College is a busy 
                            time with many things fighting for your attention, but don't let these 
                            pull you away from class too often. College is expensive; you want to get 
                            your moneys' worth for it.
                        </p>
                        <h3>Get Help on Homework</h3>
                        <p> This is not an encouragement to copy someone else's work line-for-line. 
                            Rather, talk about what you're struggling to understand in a class. 
                            Often other students can put subjects in terms you can better understand 
                            and help you when you get stuck.
                        </p>
                    </td>
                    <td class='quote-item'>
                        <h2>Computer Science Hacks (The Good Kind)</h2>
                        <h3>Your IDE is Your Best Friend</h3>
                        <p> When writing code, it's important to know how to use the tools present 
                            in your Integrated Development Environment (IDE). IDEs come with many 
                            built-in features for formatting text, detecting errors, and helping 
                            with version control and debugging. Learning how to use these features 
                            will save you hours of frustration.
                        </p>
                        <h3>Get Used to Learning New Languages</h3>
                        <p> Computer Science is field that is constantly evolving and diversifying. 
                            Different companies are always trying new languages to better fit their 
                            projects on top of the different languages for different development 
                            strategies. College is less about learning all the skills you need and 
                            more about teaching you how to quickly find out how to do new things.
                        </p>
                        <h3>Work on Your Own Projects</h3>
                        <p> While classes will provide you with a variety of projects to work on, 
                            it is important to take the time on your own to refine your skills and 
                            try to work on problems that interest you. This will not only help you 
                            better discover what area of CS you want to work in, but it also shows 
                            potential employers that you don't just see CS as a way to make money.
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table class='quotes'>
                <tr>
                    <td class='quote-item'>
                        <h2>Do's and Don'ts of CS</h2>
                        <h3>DO:</h3>
                            <p> - Add comments to your code</p>
                            <p> - Take care of your laptop</p>
                            <p> - Use online resources</p>
                            <p> - Ask for help!</p>
                        <h3>DON'T:</h3>
                            <p> - Copy code without understanding it</p>
                            <p> - Do the bare minimum</p>
                            <p> - Get behind on work</p>
                            <p> - Be afraid to talk to other students</p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>