<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styling/basic.css">
</head>

<body>
    <ul class="menubar">
        <li><a href="index.html">Home</a></li>
        <li><a href="why.html">Why</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="index.html">Tips</a></li>
        <li><a href="whatitslike.html">Testimonies</a></li>
        <li><a href="majors.html">Majors</a></li>
    </ul>
    <div class='main-content'>
        <h1>What is being a Computer Science major like?</h1>
        <h3>The following are quotes from students at Oklahoma Christian University on what it's like to be a computer science major:</h3>
        <p>
            "In computer science, I'm dealing a lot more with software as opposed to circuitry. I do it at my job, so I now have a 
            better understanding of it." - Tyler Barbee, Grad student
        </p>
        <p>
            "It's like walking into a dark room and figuring out how to Google how to turn on the light." - Jessica Longley, Senior
        </p>
        <p>
            "It's very challenging but rewarding." - Logan Demaray, Junior
        </p>
        <p>
            "It’s fun to create a program and understand how the stuff you use everyday works —- websites, 
            games, etc. But it’s challenging to understand it."  - Nathan Lalli, Junior
        </p>
        <p>
            "It's fine." - Jackson Tate, Junior
        </p>
        <p>
            "It presents more opportunities than other majors, and you can create lifelong friendships
            with other students and professors alike." - Alexandria Hendryx, Sophomore
        </p>
        <p>
            "I’m glad that I can combine creativity and STEM together." - Arrian Taton, Freshman
        </p>
        <p>
            "It’s hard at first but it’s an eye opening experience. It helps you learn things and become a problem solver." - Laura Nsenga, Freshman
        </p>
        <p>
            "It allows me to learn problem solving skills I'll use in the future." - Johnathon Cortez, Freshman
        </p>
        <p> 
            Here are some students having fun in class:
            <img src="../images/chloe.jpg">
        </p>
    </div>
</body>
</html>