<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="../styling/basic.css">
</head>

<body>
    <!-- menubar -->
    <ul class="menubar main">
        <li><a href="index.html">Home</a></li>
        <li><a href="why.html">Why</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="tips.html">Tips</a></li>
        <li><a href="whatitslike.html">Testimonies</a></li>
        <li><a href="majors.html">Majors</a></li>
    </ul>

    <div class='main-content'>
        <h1>What is being a Computer Science major like?</h1>
        <h3>The following are quotes from students at Oklahoma Christian University on what it's like to be a computer science major:</h3>
        <div class='blockmenu'>
            <table class='quotes'>
                <tr class='right'>
                    <td class='quote-item'>
                        <p>
                            "In computer science, I'm dealing a lot more with software as opposed to circuitry. I do it at my job, so I now have a 
                            better understanding of it."
                        </p>
                        <h4>Tyler Barbee, Grad Student</h4>
                    </td>
                    <td class='quote-item'>
                        <p>
                            "It's like walking into a dark room and figuring out how to Google how to turn on the light."
                        </p>
                        <h4>Jessica Longley, Senior</h4>
                    </td>
                    <td class='quote-item'> 
                        <p>
                            "It's very challenging but rewarding."
                        </p>
                        <h4>Logan Demaray, Junior</h4>
                    </td>
                </tr>
            </table>
            <br>
            <table class='quotes'>
                <tr class='left'>
                    <td class='quote-item'>
                        <p>
                            "It’s fun to create a program and understand how the stuff you use everyday works —- websites, 
                            games, etc. But it’s challenging to understand it."
                        </p>
                        <h4>Nathan Lalli, Junior</h4>
                    </td>
                    <td class='quote-item'>
                        <p>
                            "It's fine."
                        </p>
                        <h4>Jackson Tate, Junior</h4>
                    </td>
                    <td class='quote-item'>
                        <p>
                            "It presents more opportunities than other majors, and you can create lifelong friendships
                            with other students and professors alike."
                        </p>
                        <h4>Alexandria Hendryx, Sophomore</h4>
                    </td>
                </tr>
            </table>
            <br>
            <table class='quotes'>
                <tr class='right2'>
                    <td class='quote-item'>
                        <p>
                            "I’m glad that I can combine creativity and STEM together."
                        </p>
                        <h4>Arrian Taton, Freshman</h4>
                    </td>
                    <td class='quote-item'>
                        <p>
                            "It’s hard at first but it’s an eye opening experience. It helps you learn things and become a problem solver."
                        </p>
                        <h4>Laura Nsenga, Freshman</h4>
                    </td>
                    <td class='quote-item'>
                        <p>
                            "It allows me to learn problem solving skills I'll use in the future."
                        </p>
                        <h4>Johnathon Cortez, Freshman</h4>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <h3>
            Here are some students having fun in class:
        </h3>
        <img class="basic-image" src="../images/chloe.jpg">
    </div>
</body>
</html>