/*--BASE STYLING--*/
body {
    text-align: right;
    margin: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0d5d3;
    color: #bf9f9e;
}

a {
  text-decoration: none;
}


h1 {
  font-style: italic;
  font-size: 50px;
  width: 60%;
  margin-left: 40%;
}
.main-header {
  font-style: normal;
  width: 100%;
  margin-left: 0%;
}

/*--Class based general styling --*/
.main-content {
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}
.main-content {
    margin-top: 1%;
    margin-bottom: 1%;
    height: fit-content;
    padding: 2%;
}


/*--Navbar--*/
li > a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1%;
  border-bottom: 1px solid white;
}
li {
  display: inline;
  padding: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}  

li:hover {
  display: inline;
  background-color: white;
  color: #f0d5d3;
}  

/*--Block navigation--*/
table {
  text-align: center;
  margin: auto;
}
td {
  transition: 0.3s;
  padding: 3%;
  background-color: white;
  color: #d5bcbb;
  width: 300px;
  height: 150px;
  border: 5px solid #f0d5d3;
}

td > a {
  color: #bf9f9e;
}
td:hover {
  transition: 1s;
  background-color: #f0d5d3;
  color: white;
  width: 300px;
  height: 150px;
  border: none;
  border: 5px solid white;
}
li:hover > a {
  color: #f0d5d3;
}  
h1 {
  color: #bf9f9e;
}
.row {
  display: inline;
}

.blockmenu {
  align-items: right;
  text-align: right;
}

.menu-item > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}
/*--WEBKIT FILLING - IN CASE WE WANT TO MAKE TEXT TRANSPARENT?--*/
  @supports (-webkit-text-stroke: 1px white) {
    h1 {
      -webkit-text-stroke: 1px white;
      -webkit-text-fill-color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

/*--Cool transition to make us seem cooler/smarter at web stuff than we are B)--*/
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  /*--cool highlight color cuz blue is boring--*/
  ::-moz-selection,
::selection {
    background-color: #575757;
}
