.accordion {
  background-color: #eee;
  color: #bf9f9e;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/*-----------------------ACCORDION-----------------------------*/
.accordion {
    background-color: transparent;
    color: #bf9f9e;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #fff4f3;
    color: #ab8887;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .panel, .accordion:hover {
    background-color: #fff4f3;
    color: #ab8887;
  }

  .active~.panel{
    
    background-color: #fff4f3;
    color: #ab8887;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: transparent;
    display: none;
    overflow: hidden;
  }
